<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab4.Mappers.ProductMapper">

    <select id="getProductSKUInfo" parameterType="Integer" resultMap="ProductToGoods">
        select * from oomall_product where id = #{id}
    </select>

    <resultMap id="ProductToGoods" type="lab4.Models.Product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="skuSn" column="product_sn"/>
        <result property="detail" column="detail"/>
        <result property="imageUrl" column="image_url"/>
        <result property="originalPrice" column="original_price"/>
        <result property="state" column="state"/>
        <result property="weight" column="weight"/>
        <result property="disable" column="disable"/>
        <association property="goods" select="getGoodsInfo" column="goods_id" javaType="lab4.Models.Goods"/>
    </resultMap>

    <resultMap id="goodsMap" type="lab4.Models.Goods">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="goodsSn" column="goods_sn"/>
        <result property="imageUrl" column="image_url"/>
        <result property="disable" column="disabled"/>
    </resultMap>
    
    <select id="getGoodsInfo" resultMap="goodsMap">
        select * from oomall_goods where id = #{id}
    </select>
    
</mapper>

